In [1]:
import pandas as pd

# Load Data / Preprocessing

In [4]:
data = pd.read_csv('loan_data.csv')

In [5]:
#remove incomplete data
data.dropna(inplace=True)

In [6]:
data['Gender'] = data['Gender'].replace({'Female':0, 'Male':1})
data['Married'] = data['Married'].replace({'No':0, 'Yes':1})
data['Dependents'] = data['Dependents'].replace({'0':0, '1':1, '2':2, '3+':3})
data['Education'] = data['Education'].replace({'Not Graduate':0, 'Graduate':1})
data['Self_Employed'] = data['Self_Employed'].replace({'No':0,'Yes':1})
data['Property_Area'] = data['Property_Area'].replace({'Semiurban':0, 'Urban':1, 'Rural':2})

In [7]:
X = data.iloc[:,1:12]
y = data.iloc[:,12]

In [8]:
df = pd.DataFrame(data)

In [9]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,2,N
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,Y
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,Y
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,Y
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,Y

In [10]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,2
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1

In [11]:
y.head()

1    N
2    Y
3    Y
4    Y
5    Y
Name: Loan_Status, dtype: object

# Train Model

In [19]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score, train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33);

In [22]:
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

# Test Model

In [25]:
scores = cross_val_score(gbc, X_test, y_test, cv=5)

In [26]:
scores

array([0.71875   , 0.71875   , 0.75      , 0.71875   , 0.77419355])

In [37]:
test_loan = [[0.0,1.0,2.0,1.0,1.0,3000.0,0.0,50000.0,360.0,1.0,1.0]]

In [39]:
pred = gbc.predict(test_loan)

In [40]:
print('Would this person get a loan: ', pred)

Would this person get a loan:  ['Y']

In [48]:
pred_prob = gbc.predict_proba(test_loan)
pred_prob

array([[0.09663498, 0.90336502]])

In [51]:
print('Probabilty of this person getting approved: %.2f' % pred_prob[0][1])

Probabilty of this person getting approved: 0.90